@import url('https://fonts.cdnfonts.com/css/maiandra-gd');


.positionHome{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@300;400;500;600;700&display=swap");
:root {
  --headlinesFont:'Maiandra GD', sans-serif; ;
  /* --bodyFont: "Work Sans", sans-serif; */
  --wildWatermelon: #42da1c;;
  --fuelYellow: #f0a035;
  --textColor: #323232;
  --bodyBg: #d6d6d6;
  --white: #fff;
  --black: #000;
}

html {
  box-sizing: border-box;
}

/* body {
  background: var(--bodyBg);
  font-family: var(--bodyFont);
  color: var(--textColor);
  line-height: 1.5;
} */

* {
  box-sizing: inherit;
}

.imgHome {
  vertical-align: text-bottom;
}

.ft-recipe {
  margin-top: 20rem;
  margin-left: 13rem;
  margin-bottom: -15rem;
  width: 380px;
  height: 650px;
  background: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.568);
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.ft-recipe .ft-recipe__thumb {
  position: relative;
  height: 281px;
  box-shadow: 0px 0px 130px 0 rgba(0, 0, 0, 0.38);
}
.ft-recipe .ft-recipe__thumb #close-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  background: #000;
  color: var(--white);
  text-align: center;
  line-height: 36px;
  font-size: 22px;
  cursor: pointer;
  z-index: 1;
  transition: all 200ms ease;
}
.ft-recipe .ft-recipe__thumb #close-modal:hover {
  background: transparent;
  color: var(--black);
}
.ft-recipe .ft-recipe__thumb h3 {
  text-align: center;
  position: absolute;
  margin: 0;
  width: 100%;
  color: var(--white);
  font-family: var(--headlinesFont);
  font-size: 25px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
  padding: 2.4rem 0 0;
}
.ft-recipe .ft-recipe__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.ft-recipe .ft-recipe__content {
  flex: 1;
  padding: 0 2em 1em;
}
.ft-recipe .ft-recipe__content .content__header .row-wrapper {
  display: flex;
  padding: 0.55em 0 0.3em;
  border-bottom: 1px solid #d8d8d8;
}
.ft-recipe .ft-recipe__content .content__header .row-wrapper .recipe-title {
  font-family: var(--headlinesFont);
  font-weight: 600;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details {
  display: flex;
  list-style: none;
  padding: 1.4em 0 1em;
  margin: 0;
  justify-content: space-between;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item {
  flex: 1;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item i {
  font-size: 30px;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item .value {
  color: #161515;
  margin-left: 0.35em;
  vertical-align: bottom;
  font-size: 24px;
  font-weight: 600;
}
.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item .title {
  display: block;
  margin-top: -4px;
  font-family: var(--headlinesFont);
  font-size: 21px;
  font-weight: 300;
}
.ft-recipe .ft-recipe__content .description {
  margin: 0.3em 0 1.8em;
  font-family: 'Maiandra GD', sans-serif;
  text-align: justify;
}
.ft-recipe .ft-recipe__content .content__footer {
  text-align: center;
  font-family: 'Maiandra GD', sans-serif;
  margin: 0 3rem;
  margin-top: -20px;
}
.ft-recipe .ft-recipe__content .content__footer a {
  font-family: var(--headlinesFont);
  display: inline-block;
  background: var(--wildWatermelon);
  padding: 0.45em 1em;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 17px;
  transition: transform 250ms ease, box-shadow 250ms ease;
}
.ft-recipe .ft-recipe__content .content__footer a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 34px 0 rgba(255, 79, 135, 0.32);
}


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


.container {
  background-color: #f7f6f4;
  border: #ffb200 solid 4px;
  position: relative;
  display: grid;
  grid-template-columns: 300px 510px;
  border-radius: 5px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
  margin-left: -13rem;
  margin-top: -33px;
}
.container img {
  width: 370px;
  height: 230px;
  border-radius: 5px 0 0 5px;
}
.container .btn {
  position: absolute;
  bottom: -20px;
  right: -20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  /* background-color: #fc9400; */
  background-color: #42da1c;
  font-family: 'Maiandra GD', sans-serif;
  color: #fff;
  padding: 22px 45px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
}
.container .btn i {
  margin-left: 20px;
  font-size: 1.5rem;
}

.container__text {
  padding: 40px 40px 0;
}
.container__text h1 {
  color: #1949e7;
  font-weight: 300;
  font-family: 'Maiandra GD', sans-serif;

}
.container__text .container__text__star span {
  font-size: 0.8rem;
  color: #ffa800;
  margin: -5px 0 20px;
}
.container__text p {
  font-size: 0.9rem;
  font-family: 'Maiandra GD', sans-serif;
  text-align: justify;
}
.container__text .container__text__timing {
  display: flex;
  margin: 20px 0 10px;
}
.container__text .container__text__timing .container__text__timing_time {
  margin-right: 40px;
}
h4{
  font-family: 'Maiandra GD', sans-serif;
  margin-top: 5px;
}
.container__text .container__text__timing h2 {
  margin-bottom: 2px;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Maiandra GD', sans-serif;
  color: #818189;
}
.container__text .container__text__timing p {
  color: #351897;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Maiandra GD', sans-serif;
}


.constructor{
  position: absolute;
  margin-top: -4px;
  width: 205px;
  height: 74px;
  background-color:#f7f6f4;;
  z-index: 2;
  margin-left: 200px;
  padding: 15px;
  border: 4px solid;
  border-top-color: #f7f6f4;
  border-bottom-color: #f7f6f4;
  border-left-color: #ffb200;;
  border-right-color: #ffb200;;
}

.slideTitle{
  font-family: 'Maiandra GD', sans-serif;
  text-align: center;
  margin-top: 5px;
  color: #1949e7;
}





.containerHome2 {
  /* position: absolute; */
  width: 750px;
  margin-left: 470px;
  margin-top: -500px;
  margin-bottom: 50px;
  /* padding: 1px 2px 2px 2px; */
  /* position: absolute; */
  z-index: 1;
  background-color: #066699;
  color: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 20px 20px 20px rgba(131, 129, 129, 0.651);
}

.carouselHome2 {
  display: block;
  text-align: left;
  position: relative;
  /* margin-bottom: 22px; */
  /* background-color: #066690; */
  background-color: #f7f6f4;;
  border-radius: 15px;
  box-shadow: 0px 0px 35px rgb(0, 0, 0);
  padding: 12px;
  border: 4px solid #ffb200;;
}

.carouselHome2 > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carouselHome2
  > input:nth-of-type(6):checked
  ~ .carousel__slides2
  .carousel__slide2:first-of-type {
  margin-left: -500%;
}
.carouselHome2
  > input:nth-of-type(5):checked
  ~ .carousel__slides2
  .carousel__slide2:first-of-type {
  margin-left: -400%;
}
.carouselHome2
  > input:nth-of-type(4):checked
  ~ .carousel__slides2
  .carousel__slide2:first-of-type {
  margin-left: -300%;
}
.carouselHome2
  > input:nth-of-type(3):checked
  ~ .carousel__slides2
  .carousel__slide2:first-of-type {
  margin-left: -200%;
}
.carouselHome2
  > input:nth-of-type(2):checked
  ~ .carousel__slides2
  .carousel__slide2:first-of-type {
  margin-left: -100%;
}
.carouselHome2
  > input:nth-of-type(1):checked
  ~ .carousel__slides2
  .carousel__slide2:first-of-type {
  margin-left: 0%;
}
.carouselHome2
  > input:nth-of-type(1):checked
  ~ .carousel__thumbnails2
  li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px #ffb200;;
  border-radius: 10px;
}
.carouselHome2
  > input:nth-of-type(2):checked
  ~ .carousel__thumbnails2
  li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px #ffb200;;
  border-radius: 10px;
}
.carouselHome2
  > input:nth-of-type(3):checked
  ~ .carousel__thumbnails2
  li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px #ffb200;;
  border-radius: 10px;
}
.carouselHome2
  > input:nth-of-type(4):checked
  ~ .carousel__thumbnails2
  li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px #ffb200;;
  border-radius: 10px;
}
.carouselHome2
  > input:nth-of-type(5):checked
  ~ .carousel__thumbnails2
  li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px #ffb200;;
  border-radius: 10px;
}
.carouselHome2
  > input:nth-of-type(6):checked
  ~ .carousel__thumbnails2
  li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px #ffb200;
  border-radius: 10px;
}
.initialPosition2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carousel__slides2 {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide2 {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;
  border-radius: 20px;
}
.carousel__slide2 figure {
  display: flex;
  margin: 0;
}
.carousel__slide2 div {
  position: relative;
  width: 100%;
}
.carousel__slide2 div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}
.carousel__slide2 div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.carousel__slide2 img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide2 figcaption {
  align-self: flex-end;
  text-align: justify;
  padding: 20px 20px 10px 20px;
  flex: 0 0 auto;
  width: 29%;
  min-width: 150px;
  background-color: #faf7f534;
  font-family: 'Maiandra GD', sans-serif;
  margin: 10px;
  border-radius: 10px;
  color: rgb(8, 8, 8);
  /* border: #ffb200 solid 3px; */
}

.carousel__slide2 .credit2 {
  margin-top: 1rem;
  color: rgb(7, 245, 66);
  display: block;
}
.carousel__slide2.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails2 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}
.carousel__slides2 + .carousel__thumbnails2 {
  margin-top: 20px;
}
.carousel__thumbnails2 li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails2 label {
  display: block;
  position: relative;
}
.carousel__thumbnails2 label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.carousel__thumbnails2 label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails2 label:hover,
.carousel__thumbnails2 label:focus {
  cursor: pointer;
}
.carousel__thumbnails2 label:hover img,
.carousel__thumbnails2 label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails2 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* --------------------------------------------------------------------- */

.prueba{
  /* border: solid black 1px; */
  width: 250px;
  height: 350px;
  margin-left: -600px;
  margin-right: -320px;
  margin-top: -450px;
  z-index: 1;
  /* background-color: white; */
  /* background-image: url("../../img/FACH.png");
  background-size: cover; */
}

.imgprueba{
  width: 100%;
  /* margin-top: -50px; */
  /* margin-left: 2px; */
  /* margin-right: -5px; */
}

.section2{
  display: flex;
  width: 440px;
  height: 650px;
  margin-left: 30px;
  margin-top: -110px;
  background-color: #f7f6f4;
  border: solid #066699 4px;
  border-radius: 20px;
  box-shadow: 20px 20px 25px black;
}

.contentTitleSec2{
  width: 200px;
  height: 100px;
  margin-left: 30%;
  margin-top: 10px;
  text-align: center;
}

.contentTitleSec2 h1{
  font-family: 'Maiandra GD', sans-serif;
  color: #1949e7;
}


.section3{
  width: 780px;
  height: 520px;
  border: solid #06669900 1px;
  background-color: #ffb200;
  margin-top: -560px;
  margin-left: 520px;
  border-radius: 10px;
  margin-bottom: 100px;
}
.section3a{
  width: 800px;
  height: 460px;
  border: solid #066699 4px;
  background-color: #f7f6f4;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: -56px;
  border-left-color: #f7f6f4;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 20px 20px 30px black;

}

.constructor2{
  width: 100px;
  height: 460px;
  margin-left: 466px;
  margin-bottom: 250px;
  margin-top: -490px;
  border: solid #066699 4px;
  background-color: #f7f6f4;
  border-left-color: #f7f6f4;
  border-right-color: #f7f6f4;
}

.containerSection3 {
  background-color: #f7f6f4;
  position: relative;
  display: grid;
  grid-template-columns: 300px 510px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
  /* border: #ffb200 solid 4px; */
  margin: 20px;
}
.containerSection3 img {
  width: 300px;
  height: 190px;
  border-radius: 5px 0 0 5px;
  margin-left: 30px;
}
.containerSection3 .btn2 {
  position: absolute;
  bottom: 25px;
  right: 155px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  /* background-color: #fc9400; */
  background-color: #42da1c;
  font-family: 'Maiandra GD', sans-serif;
  color: #fff;
  padding: 22px 45px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
}
.containerSection3 .btn2 i {
  margin-left: 20px;
  font-size: 1.5rem;
}

.container__text2 {
  padding: 40px 150px 0;
  margin-left: -110px;
}
.container__text2 h1 {
  color: #1949e7;
  font-weight: 300;
  font-family: 'Maiandra GD', sans-serif;
  margin-left: 90px ;
}
/* .container__text2 .container__text__star span {
  font-size: 0.8rem;
  color: #ffa800;
  margin: -5px 0 20px;
} */
.container__text2 p {
  font-size: 0.9rem;
  font-family: 'Maiandra GD', sans-serif;
  text-align: justify;
}
.container__text .container__text__timing {
  display: flex;
  margin: 20px 0 10px;
}
.container__text2 .container__text__timing .container__text__timing_time {
  margin-right: 40px;
}
h4{
  font-family: 'Maiandra GD', sans-serif;
  margin-top: 5px;
}
.container__text2 .container__text__timing h2 {
  margin-bottom: 2px;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Maiandra GD', sans-serif;
  color: #818189;
}
.container__text2 .container__text__timing p {
  color: #351897;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Maiandra GD', sans-serif;
}

/* ----------------------------------- */

.position {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top:  2rem;
  /* margin-left: -40px; */
}
.carousel-wrapperHome9 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  height: 500px;
  display: flex;
  /* box-shadow: 10px 10px 50px 1px #525151; */
  border-radius: 20px;
  /* background-color: #28282a91; */
  margin-top: 110px;
  margin-left: -340px;
}

.carousel-containerHome9 {
  width: 400px;
  height: 500px;
  overflow: hidden;
  margin: 30px;
}

.carousel29 {
  display: flex;
  width: 1200px;
  animation: sliding 12s infinite;
}
.carousel29 div {
  width: 400px;
  height: 500px;
  background-size: cover;
  background-position: center;
}
.carousel29:hover {
  animation-play-state: paused;
}
.carousel29 .image-one1 {
  background-image: url("../../img/Fachada1_Origin3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.carousel29 .image-two1 {
  background-image: url("../../img/Fachada2_Origin3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.carousel29 .image-three1 {
  background-image: url("../../img/Fachada3_Origin3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}







.carousel2 .image-one2 {
  background-image: url("../../img/equipoTrabajo1.jpeg");
  object-fit: cover;
  /* background-size:86%; */
  background-repeat: no-repeat;
}
.carousel2 .image-two2 {
  background-image: url("../../img/equipoTrabajo2.jpeg");

  background-repeat: no-repeat;

  object-fit: cover;
}
.carousel2 .image-three2 {
  background-image: url("../../img/equipoTrabajo3.jpeg");
  object-fit: cover;
  /* background-size:86%; */
  background-repeat: no-repeat;
}



.aaa{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.barra3 {
  height: 720px;
  width: 33%;
  margin-top: -40px;
  position: absolute;
  background-color: #ffb200;
  border-radius: 10px;
  margin-left: 23px;
}
