

.floating-container {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  margin: 10px 5px;
  z-index: 1;
  transition: all 0.3s;
}
.floating-container:hover {
  bottom: 3rem;

}

.whatsappIcon{
  width: 6rem;
  height:6rem;
}





