@import url("https://fonts.cdnfonts.com/css/maiandra-gd");
* {
  --headlinesFont: "Maiandra GD", sans-serif;
}
.bodyFooter {
  display: grid;
  grid-template-columns: 20% 1% 58% 1% 20%;
  width: 100%;
  height: 30vh;
  background: rgba(237, 237, 237);
  color: black;
  text-decoration: none;
  font-family: var(--headlinesFont);
}
.copyrigth {
  position: sticky;
  width: 100%;
  height: 2rem;
  background: rgba(237, 237, 237);
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  visibility: visible;
  color: black;
  font-family: var(--headlinesFont);
}
.iconsNavigateFooter {
  font-family: var(--headlinesFont);

  display: grid;
  grid-template-rows: 11% 89%;
}
.followUsInfoLabelOriginTitle {
  font-size: 1.1rem;
  font-family: var(--headlinesFont);
}
.ContactNavigateFooter {
  display: grid;
  grid-template-rows: 18% 40% 28%;
  justify-items: center;
  align-items: center;
  font-size: 1rem;
  font-family: var(--headlinesFont);
}

.followUsContactContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  color: black;
  font-family: var(--headlinesFont);
}
.originsBlock {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  font-family: var(--headlinesFont);

  justify-content: center;
}
.followUsInfoLabelOrigin {
  font-size: 0.8rem;
  text-align: start;
  font-family: var(--headlinesFont);
}
.ContactUsContactContainer {
  font-family: var(--headlinesFont);

  color: black;
}
.iconsFooter {
  text-decoration: none;
  font-family: var(--headlinesFont);

  color: black;
}
.iconsFooterItem {
  color: black;
  font-family: var(--headlinesFont);
}
.sliderFooter {
  color: black;
  font-family: var(--headlinesFont);
}
.followUs {
  text-align: center;
  font-family: var(--headlinesFont);

  color: black;
}
.ContactUs {
  text-align: center;
  color: black;
  font-family: var(--headlinesFont);
}
.footeremailIcon {
  color: black;
  font-family: var(--headlinesFont);
}
.contactUsInfoLabel {
  color: black;
  font-family: var(--headlinesFont);
}
.followUsInfoLabel {
  font-size: 0.65rem;
  color: black;
  font-family: var(--headlinesFont);
}

.containerLogo {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: var(--headlinesFont);
}

.imgLogo {
  justify-self: center;
  width: 18vw;
}

.titleFooter {
  color: #066699;
  justify-self: center;
  font-size: 1.5rem;
  font-family: var(--headlinesFont);
}
.hrVertical {
  justify-self: center;

  height: 0.2rem;
  width: 10vw;
  transform: rotate(90deg);
  align-self: center;
  background-color: #066699;
  border: 0rem;
}
.correo {
  font-size: 0.8rem;
  font-family: var(--headlinesFont);
}
.titleCorreo {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: var(--headlinesFont);
}
